header
  h1 PlatziGames
  if usuario
    a Hola #{usuario}
  //-Forma de crear y llamr un condicional/ En este caso --> Si usuario(la variable "usuario" existe- hacer:) un enlace #{(variable)}
  else
    a.boton Registro
  //-Si no--> crear un boton enlazado : Registro.