//-extend me permite traer codigo de una ruta y además da un paso adicional para agregar más código, hay que especificarle que aparte del código que traiga lea también el que ya está.
extend componentes/plantillas.pug
block contenidos 
    section.intro
      .intro__imagen: img(src="images/imagen.png")
      .intro__contenido 
        h2 #{titulos[0]} 
          //-Forma de llamar variables
        p
          | Lorem ipsum  dolor sit 
          | amet consectet adipisicing 
          | elit.  Adipisci error autem 
          | consequatur ullam sapiente,
          |  officiis culpa ut iusto
          |  vel commodi voluptas unde 
          | dicta dolores minus
          | possimus tenetur et hic? Nam!
          span Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate perspiciatis quasi quo expedita nemo, consequatur fugiat itaque consequuntur delectus asperiores, sit vitae cum nam architecto, laudantium veniam fugit voluptates animi?
        a.boton Leer Mas
          //- para guardar un elemento dentro de otro se indenta el elemento hijo debajo del elemento padre
          //-para la identación en pug o se usan espacios o se usan tabs, no ambos.
      //- ul 
      //-   each titulo in titulos
      //-     li= titulo 
          //-Forma de crear y llamar un loop/Es una repetición de un segmento decódigo--> each(loop) titulo(variable PRVISIONAL) in(de donde va a traer la variable) titulos(Variables que tiene el segmento que queremos traer) 
    main.contenido
      +caja('imagen.png',titulos[1], 'Lorem ipsum dolor sit amet consectetur adipisicing elit.' )
      //-Forma de llamar al mixin, que no es más que un pedazo de código que se crea para poder reultizarlo en la sección deseada.
      +caja('imagen.png',titulos[2], 'Lorem ipsum dolor sit amet consectetur adipisicing elit.' )
      +caja('imagen.png',titulos[3], 'Lorem ipsum dolor sit amet consectetur adipisicing elit.' ) 