.contenido
  margin-bottom: 4px  
  justify-content: space-evenly  //alinear de forma horizontal
  contenedor() //mixin y variables siempre al final de codigo- buena practica

.caja
  max-width: 430px
  caja-sombra()
  &__contenido
    padding: 20px
    background-color: color-claro
    span 
      text-transform: uppercase
      color: color-secundario
      font-family: fuente2
    h3 
      text-transform: uppercase
      font-weight: normal
      font-family: fuente2