.contenido
  margin-bottom: 40px  
  justify-content: space-evenly  //alinear de forma horizontal
  contenedor() //mixin y variables siempre al final de codigo- buena practica

.caja
  border: 1px solid #989695 
  max-width: 402px
  border-radius: 4px
  caja-sombra()
  &__contenido
    padding: 20px
    background-color: color-claro
    span 
      titulos(fuente2)
      color: color-secundario
    h3 
      titulos(fuente2)
      font-weight: normal