.galeria{
  width: 70%;
  height: 250px;
  margin: 15px auto;
  padding: 30px 0 0 45px;
  justify-content: space-evenly;
  @include caja;
  &__foto-principal {
    float: left;
    margin-right: 10px;
  }
  &__fotos-adicionales img {
    height: 70px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  h2 {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    @include titulos($fuente2);
  }
  img {
    border-radius: 10px;
  }
}