//creacion de variabes
$fuente1: 'Lato', sans-serif;
$fuente2: 'Oswald', sans-serif;
$color-primario: #333333;
$color-grey: #f7f7f7;
$color-claro: #ffffff;
$color-secundario: #8841da;
$color-variacion: #3f579a;

//ar,ando un mixin
@mixin caja{
  color: $color-primario;
  box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.50);
  border-radius: 20px;
  background-color: $color-claro;
}

//armando una funcion, que a diferencia del mixin es que en la funcion puedes decidir que mandas a llamr cuando la uses.
@function get-opacity($color, $nivel) {
  //funcion de less que permite aplicar opacidad. 
  @return rgba($color,$nivel);
}

//Loop: corre un pedaso de codigo hasta que cierta condicion es alcanzada
@each $header, $size in (h1: 30px, h2: 25px , h3: 20px) {
  //llamando variable
  #{$header} {
    font-size: $size;
    margin: 0;
  }
}

//mixin con condicional
@mixin titulos($fuente) {
  @if $fuente==$fuente1  {
    font-family: $fuente1;
    color: $color-variacion;
  } @else {
    font-family: $fuente2;
    text-transform: uppercase;
    color: $color-secundario;
  }
}

*{
  box-sizing: border-box;

}
body{
  margin: 0;
  @include titulos($fuente1);
}
main {
  display: flex;
  width: 100%;
  height: 100%;
}